<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.t132.productidea.mapper.GoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.t132.productidea.pojo.GoodsCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="iconClass" jdbcType="VARCHAR" property="iconclass" />
      <collection property="list" ofType="com.bdqn.t132.productidea.pojo.GoodsCategory">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="name" jdbcType="VARCHAR" property="name" />
          <result column="parent_id" jdbcType="INTEGER" property="parentId" />
          <result column="type" jdbcType="INTEGER" property="type" />
          <result column="iconClass" jdbcType="VARCHAR" property="iconclass" />
      </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_id, type, iconClass
  </sql>
    <select id="selectGoodsCList" resultType="com.bdqn.t132.productidea.pojo.GoodsCategory">
        select
        <include refid="Base_Column_List" />
        from shop_goods_category
        <where>
            <if test="parentId!=null">
                parent_id = #{parentId}
            </if>
        </where>
    </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_goods_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_goods_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdqn.t132.productidea.pojo.GoodsCategory">
    insert into shop_goods_category (id, name, parentId, 
      type, iconClass)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{iconclass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.t132.productidea.pojo.GoodsCategory">
    insert into shop_goods_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="iconclass != null">
        iconClass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="iconclass != null">
        #{iconclass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.t132.productidea.pojo.GoodsCategory">
    update shop_goods_category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="iconclass != null">
        iconClass = #{iconclass,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.t132.productidea.pojo.GoodsCategory">
    update shop_goods_category
    set name = #{name,jdbcType=VARCHAR},
      parentId = #{parentId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      iconClass = #{iconclass,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>